<h1>Add New Item</h1>
<form th:action="@{/admin/item/add}" method="post">
    <label>Item Name: </label>
    <input type="text" name="name" required />

    <label>Price: </label>
    <input type="number" name="price" required />

    <label>Stock: </label>
    <input type="number" name="stock" required />

    <label>Category: </label>
    <input type="text" name="category" required />

    <label>Brand: </label>
    <input type="text" name="brand" required />

    <button type="submit">Add Item</button>
</form>
